#directories/files not included in the repository
#temporary python files
*.pyc
#any file ending with symbol ~
*~
#file of type cache
*__pycache__
#directory of type cache
__pycache__
#migrations
migrations